*{
	margin: 0;
	padding: 0;
}
body {
  font-size: 28px;
  background: #F5F6FA;
  font-family: Arial;
}
header{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}
main{
	margin: 0 auto;
	padding: 5px;
	width: 80%;
	background: #E8E7E7;
	border-radius: 4px;
  	margin-top: 30px;
  	margin-bottom: 20px;
  	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);

}
.error_box {
  background: #c40018;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 12px;
  width: 81%;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
}

.error_box.active {
  display: block;
}
/* --------------------------------- Inputs ------------------------------ */
/*input[type=text],input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  border-radius: 6px;  
}
input[type=text],input[type=password]{
 border-radius: 30px;
 outline:0px;
}

input[type=text]:focus,
input[type=password]:focus {
    box-shadow: 0 0 1pt 1pt #2774EA;
}

button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}*/
/* --------------------------------- signup  ------------------------------ */

.Pre-Registro input[type=text].common,
.Pre-Registro input[type=password].common,
.Pre-Registro input[type=email].common,
.Pre-Registro input[type=url].common,
.Pre-Registro input[type=file].common,
.Pre-Registro textarea.common{
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  border-radius: 30px; 
  outline:0px; 
}

}

.Pre-Registro label{
  margin-left: 10px;
  font-size: 20px;
}

.signup{
  text-align:center;
  margin: 10px 40px 20px 40px;
}
input[type=text].common,
input[type=password].common,
input[type=email].common,
input[type=url].common,
input[type=file].common,
textarea.common{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  border-radius: 30px; 
  outline:0px; 
}

input[type=file].common{
  background: lightgray;
  border: none; 
}

textarea.common{
  border-radius: 6px;
}

input[type=radio].common{
  
}
/* Pre-registro
  <style type="text/css">
    input{
      margin-bottom: 30px;
      width: 100%;
    }

    input[type=radio].common{
        margin-bottom: 0px;
      width: 10%;
    }
    textarea.common{
      margin-bottom: 30px;
      width: 100%;
    }
  </style>
*/

.Pre-Registro select,
.Pre-Registro input[type=date]{
  margin-left:20px;
  width: 90%;
}

input[type=text].P6{
  width: 16%;
}


.common:focus{
    box-shadow: 0 0 2pt 1pt #2774EA;
}

input[type=text].common_r,
input[type=password].common_r{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  border-radius: 30px; 
  outline:0px; 
}

.common_r:not(selector){
    box-shadow: 0 0 2pt 1pt red;
}

button[type=submit].common{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover.common {
  background-color: #45a049;
}
/* --------------------------------- Login ------------------------------ */
.login{
  text-align:center;
  margin: 10px 40px 20px 40px;
}

.aaa{
  margin: 0 auto;
  padding: 5px;
  width: 60%;
  background: #E8E7E7;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);

}

.error_box_login {
  background: #c40018;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
}

#log{
  float: right;
  color: #f2f2f2;
  background: #f44336;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor:pointer;
  border: none;
}

#log:hover{
  background-color: #D4281B;
}

#login_right{
  float: right;
  color: #f2f2f2;
  background: #4CAF50;
  text-align: center;
  padding: 14px 16px;
  width: 90px;
  text-decoration: none;
  font-size: 17px;
  cursor:pointer;
  border: none;
}

#login_right:hover{
  background-color: #45a049;
}

.Link_Nonstyle{ 
  color: #323232;
  text-decoration: none;
}

.Link_Nonstyle:visited{ 
  color: #1B1B1B;
}

.Link_Nonstyle:hover{
  color: #757575;
}

button[type=submit].Reset{
  width: 100%;
  background-color: #303030;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover.Reset {
  background-color: #535353;
}

/* ---------- Perfil / Notificacion ---------- */
.perfil{
  background: #5800AF;
}

#perfil_right1{
    display: inline-block;
    float: right;
}

#perfil_right1:hover{
  background: #430085;
  color: white;
}

#perfil_right{
    display: inline-block;
    float: right;
}

#perfil_right:hover{
  background: #430085;
  color: white;
}


#perfil_right2{
  visibility: hidden;
}

#perfil_right2:hover{
  background: #430085;
  color: white;
}

#notificacion_right{
  float: right;
  display: inline-block;
}
#notificacion_right:hover{
  background: #430085;
  color: white;
}

/* --------------------------------- Navbar ------------------------------ */
.active_nav {
  background-color: #4CAF50;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  opacity: .98;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn, #notificacion_right{
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  #login_right{
    float: none;
    text-align: left;
    width: 100%;
  }

  #log{
    display: none;
  }

  #log.active {
    display: inline-block;
    float: none;
    text-align: left;
    width: 100%;
    background: #f44336;
  }

  #log:hover{
    background: #D4281B;
  }

  #perfil_right2{
    visibility: visible;
    float: none;
  }

  #perfil_right1{
    display: none;
  }

  .main{
    display: block;
    float: none;
    width: 100%
  }

}





/* --------------------------------- Media ------------------------------ */
@media screen and (min-width: 780px) and (max-width: 1024px){
  
}

@media screen and (min-width: 480px) and (max-width: 780px){

}

@media screen and (max-width: 480px){

}

/* ------------------------------------------------ badges ------------------------------------------------ */
.notification-badges li {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  vertical-align: top;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  padding: 5px;
}
.notification-badges [data-badge] {
  position: relative;
}
.notification-badges [data-badge]:after {
  position: absolute;
  right: -6px;
  top: 0;
  min-width: 10px;
  min-height: 10px;
  line-height: 10px;
  padding: 5px;
  color: #fff;
  background-color: #bf1f1f;
  font-size: 10px;
  border-radius: 20px;
  content: attr(data-badge);
  border: solid 1px #c93a3a;
}

:root {
  --border-color: #2E5339; /* #e71d32 - red || rgba(22, 201, 141, 0.98) - green || #efc100 - yellow */
  --background-color: #2E5339;
}

/* --------------------- Estilos Cosas Ajax ------------------------------ */
.btn {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: #fff;
  background: #54B53D;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius:2px;
  width: 100%;
}

/* Error Ajax */
.error_box {
  background: #c40018;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 12px;
  display: none;
}
.error_box.active {
  display: block;
}

/* --------- Tabla Ajax --------- */

table {
  width: 100%;
  background: #fff;
  text-align: center;
  border-collapse: collapse;

}

td, th {
  border-bottom:1px solid #E9E9E9;
  padding: 20px;
}

th {
  color:#393A58;
  font-size: 16px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(n):hover{background-color: lightgray}

td{
  font-size: 14px;
}

tr {
align-self: center;
}

/* --------- loader Ajax --------- */


.loader {
  margin: auto;
  display: none;
  border: 5px solid #DDDDDD; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  background: none;
}

.loader.active {
  display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* --------- VER MAS Ajax --------- */
.btn_ver_mas{
  display: none;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border: 0px solid #ccc; 
  color: #599BFA;
  background: white;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  margin-bottom: 30px;  
}

.btn_ver_mas.active{
  display: block; 
}

.btn_ver_mas:hover{
  background: #EEEEEE;
  color: #003F9C; 
}

/* Ojo */
a i{ 
  color: #139AEC;
}

a:visited i{ 
  color: #1083C8;
}

a i:hover{
  color: #0B5583;
}
/* ----------------------- Style Upload ------------------- */

/*input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px solid #8E8E8E;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 30px;
    background:#F6F6F6;
}

.custom-file-upload:hover{
  background:#B2B2B2;
  border: 2px solid #414141;
}

/*          <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Custom Upload
          </label>
          <input id="file-upload" type="file"/>
*/

/* -----------------------  ------------------- */


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: white;
  flex-wrap: column;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.tabcontent button{
  padding: 10px 52px;
}

.input{
  margin: 10px 0;
  display: flex;
  flex-direction:column;
}

.input label{
  margin-left: 4px;
}

.input input{
  margin: 6px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input input[type=text]:focus {
  border: 3px solid #555;
}


.topright:hover {color: red;}

/*     HINT           */



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.accordion {
  background-color: #CECECE;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.activetoggle, .accordion:hover {
  background-color: #ADADAD;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activetoggle:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #F1F1F1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

// ---------------------------------------- PANEL DE CONTROL ------------------------------------------ //

button.Panel_Control{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover.Panel_Control {
  background-color: #45a049;
}





*, *:before, *:after {
  box-sizing: border-box;
}
.form-container {
  margin: 7px 2%;
  background-color:;
  border: 1px solid #e6e6e6;
  width: 11%;
  float: right;
}
/* HTML5 Boilerplate accessible hidden styles */
.promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.promoted-checkbox input:checked + label > svg {
  height: 24px;
  animation: draw-checkbox ease-in-out 0.2s forwards;
}
.promoted-checkbox label:active::after {
  background-color: #e6e6e6;
}
.promoted-checkbox label {
  color: #0080d3;
  line-height: 40px;
  cursor: pointer;
  position: relative;
}
.promoted-checkbox label:after {
  content: "";
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  float: left;
  border: 2px solid #0080d3;
  border-radius: 10px;
  transition: 0.15s all ease-out;
}
.promoted-checkbox svg {
  stroke: #0080d3;
  stroke-width: 2px;
  height: 0;
  width: 24px;
  position: absolute;
  left: -48px;
  top: 8px;
  stroke-dasharray: 33;
}
@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
