*{
	margin: 0;
	padding: 0;
}
body {
  font-size: 28px;
  background: #D1D7DC;
  font-family: Arial;
  box-sizing: border-box;
}
header{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1001;
}

main{
	margin: 0 auto;
	padding: 5px;
	width: 80%;
	background: #E8E7E7;
	border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
  padding-bottom: 20px;
}

label{
  padding: 0 0 0 5px;
}



input[type=text].common,
input[type=password].common,
input[type=email].common,
input[type=url].common,
input[type=file].common,
textarea.common{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  border-radius: 30px; 
  outline:0px;

}
input[type=file].common{
  background: lightgray;
  border: none; 
}

input[type=text].common:hover,
input[type=password].common:hover,
input[type=email].common:hover,
input[type=url].common:hover{
  box-shadow: 0px 0px 5px #3498DB;
}

input[type=text].common:focus,
input[type=password].common:focus,
input[type=email].common:focus,
input[type=url].common:focus{
  box-shadow: 0px 0px 5px 2px #3498DB;
}


textarea.common{
  border-radius: 6px;
}

button[type=submit].common{
  width: 100%;
  background:;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover.common {
  background: ;
}

button[type=submit].half_button{
  width: 48%;
  margin: 0 auto;
}

.info{

}

.info h1{
  text-align: center;
  margin-bottom: 80px;
}

.info p{
  text-align: justify;
  padding: 0 240px 0 240px;
  margin-bottom: 80px;
}
/* ----------------------------- COLORS ----------------------------- */
.color_Light_Blue{
  border: solid 1px #3498DB;
  background: #2E86C1;
  color: white;
}

.color_Light_Blue:hover{
  background: #3498DB;
  color: white;
}

.color_Light_Green{
  border: solid 1px #239B56;
  background: #1E8449;
  color: white;
}

.color_Light_Green:hover{
  background: #239B56;
  color: white;
}